.logIn,
.LogMeIn:hover {
    background-color: aqua !important;
    color: black !important;
    border-radius: 10px !important;
    border: 2px solid black !important;
}
.logIn:hover,
.LogMeIn {
    background-color: black !important;
    color: aqua !important;
    border: 2px solid aqua !important;
}
.modal-title {
    color: black !important;
}
#passwordHelpBlock {
    color: black !important;
}
label {
    color: black !important;
}